.first_part{
    background: url("../../assessts/images/2.png");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 92vh;
    background-attachment:fixed ;
    background-position: center center; 
    
}
.first_part__title{
    color: white;
    padding: 5% 2% 2% 2%;
    width:25%;
    height: 20%;
}

// .second_part_card{
//     display:flex ; 
//     justify-content: space-between;
//     width:30vw;
//     background:rgba(233, 231, 227,.5);
//     padding-right:3%;
//     padding-top:1%;
//     padding-bottom:1%;
//     padding-left:3%;
//     // border:1px solid #BCDECF ;
//     box-shadow: 2px 2px lighten($color: #BCDECF, $amount: 5)
// }